In [3]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [4]:
headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'} 
webpage=requests.get('https://www.ambitionbox.com/list-of-companies?page=1',headers=headers).text

In [5]:
soup=BeautifulSoup(webpage,'lxml')

In [6]:
company=soup.find_all('div',class_='companyCardWrapper__metaInformation')

In [7]:
len(company)

20

In [61]:
name=[]
rating=[]
reviews=[]
ctype=[]
hq=[]
old=[]
employees=[]
for i in company:
    name.append(i.find('h2').text.strip())
    rating.append(i.find('span',class_='companyCardWrapper__companyRatingValue').text.strip())
    reviews.append(i.find('span',class_='companyCardWrapper__ActionTitle'))
    ctype.append(i.find_all('span',class_='companyCardWrapper__interLinking')[0].text.strip())
    hq.append(i.find_all('span',class_='companyCardWrapper__interLinking')[0].text.strip())
    old.append(i.find_all('span',class_='companyCardWrapper__interLinking')[0].text.strip())
    employees.append(i.find_all('span',class_='companyCardWrapper__interLinking')[0].text.strip())
d={'name':name, 'rating':rating, 'type':ctype,'hq':hq, 'old':old, 'eployees':employees}
df=pd.DataFrame(d)
df

,name,rating,type,hq,old,eployees
0,TCS,3.8,IT Services & Consulting | 1 Lakh+ Employees |...,IT Services & Consulting | 1 Lakh+ Employees |...,IT Services & Consulting | 1 Lakh+ Employees |...,IT Services & Consulting | 1 Lakh+ Employees |...
1,Accenture,4.0,IT Services & Consulting | 1 Lakh+ Employees |...,IT Services & Consulting | 1 Lakh+ Employees |...,IT Services & Consulting | 1 Lakh+ Employees |...,IT Services & Consulting | 1 Lakh+ Employees |...
2,Cognizant,3.9,IT Services & Consulting | 1 Lakh+ Employees |...,IT Services & Consulting | 1 Lakh+ Employees |...,IT Services & Consulting | 1 Lakh+ Employees |...,IT Services & Consulting | 1 Lakh+ Employees |...
3,Wipro,3.8,IT Services & Consulting | 1 Lakh+ Employees |...,IT Services & Consulting | 1 Lakh+ Employees |...,IT Services & Consulting | 1 Lakh+ Employees |...,IT Services & Consulting | 1 Lakh+ Employees |...
4,Capgemini,3.9,IT Services & Consulting | 1 Lakh+ Employees |...,IT Services & Consulting | 1 Lakh+ Employees |...,IT Services & Consulting | 1 Lakh+ Employees |...,IT Services & Consulting | 1 Lakh+ Employees |...
5,HDFC Bank,4.0,Banking | 1 Lakh+ Employees | Public | 30 year...,Banking | 1 Lakh+ Employees | Public | 30 year...,Banking | 1 Lakh+ Employees | Public | 30 year...,Banking | 1 Lakh+ Employees | Public | 30 year...
6,ICICI Bank,4.0,Banking | 1 Lakh+ Employees | Public | 30 year...,Banking | 1 Lakh+ Employees | Public | 30 year...,Banking | 1 Lakh+ Employees | Public | 30 year...,Banking | 1 Lakh+ Employees | Public | 30 year...
7,Infosys,3.8,IT Services & Consulting | 1 Lakh+ Employees |...,IT Services & Consulting | 1 Lakh+ Employees |...,IT Services & Consulting | 1 Lakh+ Employees |...,IT Services & Consulting | 1 Lakh+ Employees |...
8,HCLTech,3.7,IT Services & Consulting | 1 Lakh+ Employees |...,IT Services & Consulting | 1 Lakh+ Employees |...,IT Services & Consulting | 1 Lakh+ Employees |...,IT Services & Consulting | 1 Lakh+ Employees |...
9,Tech Mahindra,3.7,IT Services & Consulting | 1 Lakh+ Employees |...,IT Services & Consulting | 1 Lakh+ Employees |...,IT Services & Consulting | 1 Lakh+ Employees |...,IT Services & Consulting | 1 Lakh+ Employees |...
10,Genpact,3.9,IT Services & Consulting | 1 Lakh+ Employees |...,IT Services & Consulting | 1 Lakh+ Employees |...,IT Services & Consulting | 1 Lakh+ Employees |...,IT Services & Consulting | 1 Lakh+ Employees |...
11,Axis Bank,3.9,Banking | 50k-1 Lakh Employees | Public | 31 y...,Banking | 50k-1 Lakh Employees | Public | 31 y...,Banking | 50k-1 Lakh Employees | Public | 31 y...,Banking | 50k-1 Lakh Employees | Public | 31 y...
12,Teleperformance,3.7,BPO | 50k-1 Lakh Employees | Forbes Global 200...,BPO | 50k-1 Lakh Employees | Forbes Global 200...,BPO | 50k-1 Lakh Employees | Forbes Global 200...,BPO | 50k-1 Lakh Employees | Forbes Global 200...
13,Concentrix Corporation,3.9,BPO | 50k-1 Lakh Employees | Public | 41 years...,BPO | 50k-1 Lakh Employees | Public | 41 years...,BPO | 50k-1 Lakh Employees | Public | 41 years...,BPO | 50k-1 Lakh Employees | Public | 41 years...
14,Jio,4.0,Telecom | 50k-1 Lakh Employees | Public | 6 ye...,Telecom | 50k-1 Lakh Employees | Public | 6 ye...,Telecom | 50k-1 Lakh Employees | Public | 6 ye...,Telecom | 50k-1 Lakh Employees | Public | 6 ye...
15,Amazon,4.1,Internet | 1 Lakh+ Employees | Public | 30 yea...,Internet | 1 Lakh+ Employees | Public | 30 yea...,Internet | 1 Lakh+ Employees | Public | 30 yea...,Internet | 1 Lakh+ Employees | Public | 30 yea...
16,IBM,4.1,IT Services & Consulting | 1 Lakh+ Employees |...,IT Services & Consulting | 1 Lakh+ Employees |...,IT Services & Consulting | 1 Lakh+ Employees |...,IT Services & Consulting | 1 Lakh+ Employees |...
17,Reliance Retail,4.0,Retail | 1 Lakh+ Employees | 18 years old | Na...,Retail | 1 Lakh+ Employees | 18 years old | Na...,Retail | 1 Lakh+ Employees | 18 years old | Na...,Retail | 1 Lakh+ Employees | 18 years old | Na...
18,HDB Financial Services,4.0,NBFC | 1 Lakh+ Employees | 17 years old | Ahme...,NBFC | 1 Lakh+ Employees | 17 years old | Ahme...,NBFC | 1 Lakh+ Employees | 17 years old | Ahme...,NBFC | 1 Lakh+ Employees | 17 years old | Ahme...
19,Larsen & Toubro Limited,4.1,Engineering & Construction | 10k-50k Employees...,Engineering & Construction | 10k-50k Employees...,Engineering & Construction | 10k-50k Employees...,Engineering & Construction | 10k-50k Employees...

'IT Services & Consulting | 1 Lakh+ Employees | Forbes Global 2000 | 30 years old | Teaneck. New Jersey. +164 more'